.drop {
  min-height: 3em;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em;
}

.drop.highlight {
  background-color: #ffffee;
}

.drag {
  padding: 1em;
  margin: 1em 0 0 1em;
  border: 1px solid #ccc;
}

.drag.moving {
  background-color: #ffffcc;
  border-style: dotted;
}

.drag.ghost {
  opacity: 0.3;
}

